@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding-top: env(safe-area-inset-top, 0px);
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

html {
  scroll-padding-top: env(safe-area-inset-top, 0px);
}

h1,
h2,
h3 {
  @apply font-serif font-medium tracking-tight;
}
